


[mysql_install_db]
datadir		= /var/lib/mysql
socket		= /tmp/mysql.sock

[mysqld_safe]
socket      = /tmp/mysql.sock
nice        = 0

[mysqld]
user        = mysql
socket      = /tmp/mysql.sock
port        = 3306
datadir     = /var/lib/mysql
bind-address = 0.0.0.0

[mysql]
socket      = /tmp/mysql.sock
port        = 3306
datadir		= /var/lib/mysql
bind-address = 0.0.0.0